.nav_head {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 10;
}

.nav_logo {
  max-height: 3.5rem;
}
.pages {
  font-size: 1.5rem;
  margin: 0 2rem;
}
.pages:hover {
  font-weight: 600;
  font-size: 2rem;
  transition: 0.5s;
}

@media (min-width: 990.5px) {
  .me-auto {
    position: absolute;
    right: 5rem;
  }
}
